.addNews.modal.fade
	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Add News
			.modal-body
				form#set-password-form.well
					h6 Please tell us a little about this Event.
					.form-group
						label.control-label.col-sm-3 Event Name
						.col-sm-9
							input.form-control#name-tf(type='text', name='event_name', data-rule-required="true")
							input(type='hidden', name='creator', value= user.firstname)
							input(type='hidden', name='creatorID', value= user._id)
					.form-group
						label.control-label.col-sm-3 Duration
						.col-sm-9
							input#duration.form-control(type='text', value='3600', name="event_duration", data-rule-required="true")
					.form-group
						label.control-label.col-sm-3 Event Type
						.col-sm-9
							select(name='event_type').form-control
								option(value='Event') Event
								option(value='Notice') Notice
								option(value='Information') Information
					.form-group
						label.control-label.col-sm-3 Event Date
						.col-sm-9
							input#datetimepicker(type='text', name='event_date', data-rule-required="true").form-control
					.form-group
						label.control-label.col-sm-3 Description
						.col-sm-9
							textarea#eventDescription.form-control(rows='5', data-rule-required="true")
					.form-group
						.form-button
							button(type='button', onclick="$('.addNews').modal('hide');")#addresident-form-btn1.btn.btn-default
							button(type='submit')#addresident-form-btn2.btn.btn-primary
block scripts
	script.
		$(document).ready(function(){
		var form = $("#set-password-form");
		form.validate({
			submitHandler: function(form) {
			hcc.addNews()
			//form.submit();
			}
		});
		$(function () {
		$('#duration').durationPicker({
		onChanged: function (newVal) {
		$('#duration-label').text(newVal);
		}
		});
		});
		});