.addNews.modal.fade
	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Add News
			.modal-body
				form#set-password-form.well
					h6 Please tell us a little about this Event.
					.form-group
						label.control-label.col-sm-3 Event Name
						.col-sm-9
							input.form-control#name-tf(type='text', name='event_name').required
							input(type='hidden', name='creator', value= user.user)
					.form-group
						label.control-label.col-sm-3 Event Type
						.col-sm-9
							select(name='event_type')
								option(value='Event') Event
								option(value='Notice') Notice
								option(value='Information') Information
					.form-group
						label.control-label.col-sm-3 Event Date
						.col-sm-9
							.form-group
								#datetimepicker5.input-group.date
									input.form-control(type='text', name='event_date')
									span.input-group-addon
										span.glyphicon.glyphicon-calendar

						script(type='text/javascript').
							$(document).ready(function(){
							$(function () {
							$('#datetimepicker5').datetimepicker({
							defaultDate: "03/12/2017",
							});
							});
							});


					.clearfix
						.form-buttons
							button(type='button', onclick="$('.addNews').modal('hide');")#addresident-form-btn1.btn.btn-default
							button(type='button' onclick="hcc.addNews(); ")#addresident-form-btn2.btn.btn-primary