.addResident.modal.fade
	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Add Resident
			.modal-body
				form#set-password-form.well
					h6 Please tell us a little about this Resident.
					input(type='hidden', name='RcreatorID', value= user._id)
					.form-group
						label.control-label.col-sm-3 First Name
						.col-sm-9
							input.form-control#name-tf(type='text', name='Rfirstname', data-rule-required="true")
					.form-group
						label.control-label.col-sm-3 Last Name
						.col-sm-9
							input.form-control#name-tf(type='text', name='Rlastname', data-rule-required="true")
					.form-group
						label.control-label.col-sm-3 Email
						.col-sm-9
							input.form-control#email-tf(type='email', name='Remail', data-rule-required="true")
					.form-group
						label.control-label.col-sm-3 Address
						.col-sm-9
							input.form-control#address-tf(type='text', name='Raddress', data-rule-required="true")
					.clearfix
						.form-buttons
							button(type='button', onclick="$('.addResident').modal('hide');")#addresident-form-btn1.btn.btn-default
							button(type='submit')#addresident-form-btn2.btn.btn-primary

block scripts
	script.
		$(document).ready(function(){
		var form = $("#set-password-form");
		form.validate({
			submitHandler: function(form) {
			hcc.AddResident();
			form.submit();
			}
		});
		})