extends layout
link(rel='stylesheet', href='/css/round-about.css')
block content
	include navbar
	body
	style.
		.info-panel-down {
		padding-top: 10%;
		width: 70%;
		margin:0 auto;
		}
	.container
		.info-panel-down
			.panel.panel-info
				.panel-heading
					h4 About Block Captin
				.panel-body
					.container.inner-container
						| Througout the city of Philadelphia, neighborhoods are organized around a network of block captins (1-2 per city block). There are also often several community
						| organizations serving sections of the neighborhood. Block captins are residents who has taken on the role of information dissemination of their block. They organize
						| clean up activities, share information about events in the area, and hold meetings along with other services. Neiborhood groups sometimes use them to get information
						| to residents.
						br
						br
						| The Point Breeze area of Philadelphia is the home of approximately 84,000 residents. Within this area, there are between 250 to 300 individual blocks,
						|       each having 1 or 2 block captin. Overall coordination is currently disjointed and managed by several folks who are using pen and paper to track which captin
						|       belong to each block. The information is currently difficult to maintain and getting information to the captins is not efficient or effective.



block scripts
		script(src='/vendor/jquery-2.2.3.min.js')
		script(src='/vendor/jquery.form.min.js')
		script(src='/vendor/bootstrap.min.js')
		script(src='/js/views/home.js')
		script(src='/js/controllers/homeController.js')
		script(src='/js/form-validators/accountValidator.js')
