
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
	form(method="post")#account-form.form-horizontal.well
		h2
		h6#sub1 Please tell us a little about yourself.
		hr
		.form-group
			label.control-label.col-sm-3 First Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='firstname', value= user.firstname, data-rule-required="true")

		.form-group
			label.control-label.col-sm-3 Last Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='lastname', value= user.lastname, data-rule-required="true")

		.form-group
			label.control-label.col-sm-3 Email
			.col-sm-9
				input.form-control#email-tf(type='email', name='email', value= user.email, data-rule-required="true")

		.form-group
			label.control-label.col-sm-3 Address
			.col-sm-9
				input.form-control#address-tf(type='text', name='address', value= user.address, data-rule-required="true")
		hr
		h6#sub2
		.form-group
			label.control-label.col-sm-3 Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= user.user, data-rule-required="true").disabled

		.form-group
			label.control-label.col-sm-3 Password
			.col-sm-9
				input.form-control#pass-tf(type='password', name='pass', value='', data-rule-required="true")
		.form-group
			label.control-label.col-sm-3 Confirm Password
			.col-sm-9
				input.form-control#conf-pass-tf(type='password', name='conf_pass', value='', data-rule-required="true")
		.container.inner-container-2
			h4
				p.text-center I am a...
				h4.text-center
					input.btn.btn-primary.btn-sm#select_bc(type='button', value='BLOCK CAPTAIN')
					input.btn.btn-primary.btn-sm#select_co(type='button', value='HELPER')
		hr
		.form-buttons
			button(type='button')#account-form-btn1.btn.btn-default
			button(type='submit')#account-form-btn2.btn.btn-primary
		.clearfix

// display form errors in a custom modal window //

include modals/form-errors

block scripts
	script.
		$(document).ready(function(){
		var form = $("#account-form");
		form.validate({
		rules: {
		pass: {
		required: true,
		minlength: 8
		},
		conf_pass: {
		required: true,
		minlength: 8,
		equalTo: "#pass-tf"
		},
		}}
		);
		})