.navbar.navbar-fixed-left
	ul.nav.navbar-nav
		li
			a(href='/calendar', style='color: #f5d003', font='font') My Calendar
		li
			a(href='/manage', style='color: #f5d003', font='font') Manage Residents
		li
			a(href='/news', style='color: #f5d003') Manage Block News
		li
			a(href='/newsletters', style='color: #f5d003') Manage Newsletters
		li
			a(href='/forums', style='color: #f5d003') Forums
