.navbar.navbar-fixed-left
	ul.nav.navbar-nav
		li
			a(href='/calendar', font='font') My Calendar
		li
			a(href='/manage', font='font') Manage Residents
		li
			a(href='/news') Manage Block News
		li
			a(href='/newsletters') Manage Newsletters
		li
			a(href='/forums') Forums
